@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es un ejemplo de lectura de base de datos utilizando Entity Framework, en este caso solo se leen los datos y se muestran en un listado</a>.</p>
</div>
